<h2>{{ translate('emails.registration.welcome') }} {{user.fullName}}!</h2>

<p>{{ translate('emails.registration.validationLink.description') }} <a href="{{ validateUrl }}">{{ translate('emails.registration.validationLink.title') }}</a></p>
