<h2>{{ translate('email.resendValidation.hi') }} {{user.firstname}}!</h2>

<p>{{ translate('email.forgotPassword.resetLink.description') }} <a href="{{ resetUrl }}">{{ translate('email.forgotPassword.resetLink.title') }}</a></p>

