<h2>{{ translate('email.resendValidation.hi') }} {{user.firstname}}!</h2>

<p>{{ translate('email.registration.validationLink.description') }} <a href="{{ validateUrl }}">{{ translate('email.registration.validationLink.title') }}</a></p>

